body {
  background-color: lightblue;
}

header {
  display: inline-block;
  width: 100%;
}

.timer {
  float: right;
}

.highscore {
  float: left;
}

.answers {
  margin: 1px;
  background-color: yellow;
}

a {
  color: darkred;
}

.center {
  text-align: center;
}

.hide {
  display: none;
}
